 <!-- footer section start  -->
    <footer>
        <div class="left-footer">
            <div class="footer-logo">
                <a href="index.html">
                    <img class="img" src="	https://bootstrapmade.com/theme/img/logo.png" alt="">
                </a>
                <p>Bootstrap</p>
                <span>made</span>
            </div>
            <div class="footer-content">
                <p>High quality free Bootstrap website templates. Build your next website<br> with our modern and fully
                    responsive web templates!</p>
            </div>
            <div class="footer-social-icon footer-logo">
                <a href="">
                    <ion-icon name="logo-twitter"></ion-icon>
                </a>
                <a href="">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
                <a href="">
                    <ion-icon style="transform: rotate(50deg);" name="wifi-outline"></ion-icon>
                </a>
                <a href="">
                    <ion-icon name="mail-outline"></ion-icon>
                </a>

            </div>
        </div>
        <div class="right-footer">
            <div class="company">
                <h4>Company</h4>
                <ul>
                    <li><a href="">
                            <ion-icon name="chevron-forward-sharp"></ion-icon>About
                        </a></li>
                    <li><a href="">
                            <ion-icon name="chevron-forward-sharp"></ion-icon>Licence
                        </a></li>
                    <li><a href="">
                            <ion-icon name="chevron-forward-sharp"></ion-icon>PHP Email Form
                        </a></li>
                    <li><a href="">
                            <ion-icon name="chevron-forward-sharp"></ion-icon>Terms of use
                        </a></li>
                    <li><a href="">
                            <ion-icon name="chevron-forward-sharp"></ion-icon>Privacy policy
                        </a></li>

                </ul>
            </div>
            <div class="popular-template">
                <h4>Popular Templates</h4>
                <ul>
                    <li><a href="">
                            <ion-icon name="chevron-forward-sharp"></ion-icon>Arsha
                        </a></li>
                    <li><a href="">
                            <ion-icon name="chevron-forward-sharp"></ion-icon>Mamba
                        </a></li>
                    <li><a href="">
                            <ion-icon name="chevron-forward-sharp"></ion-icon>Company
                        </a></li>
                    <li><a href="">
                            <ion-icon name="chevron-forward-sharp"></ion-icon>MyResume
                        </a></li>
                </ul>
            </div>
            <div class="popular-catogary">
                <h4>Popular Catogary</h4>
                <ul>
                    <li><a href="">
                            <ion-icon name="chevron-forward-sharp"></ion-icon>Bootstrap 5 Templates
                        </a></li>
                    <li><a href="">
                            <ion-icon name="chevron-forward-sharp"></ion-icon>Website Templates
                        </a></li>
                    <li><a href="">
                            <ion-icon name="chevron-forward-sharp"></ion-icon>One Page Template
                        </a></li>
                    <li><a href="">
                            <ion-icon name="chevron-forward-sharp"></ion-icon>Portfolio Templates
                        </a></li>
                    <li><a href="">
                            <ion-icon name="chevron-forward-sharp"></ion-icon>Free Website Templates
                        </a></li>
                </ul>
            </div>
            <div class="none">

            </div>
        </div>
    </footer>
    <!-- footer section end  -->

    <!-- copy right section start  -->
    <div class="copy-right">
        <p>Copyright © 2021 <span>BootstrapMade</span></p>
    </div>
    <!-- copy right section end  -->